
body{
  font-family:"Inria Serif", serif;
  background-color:#1FB544;
  font-weight: bold;
}

#btndiv{
  width: auto;
}

#menu{
  max-width:4%;
}

#shbio{
  font-size:1.5em;
  background-color:#e50000;
  padding: 10px;
  border-radius: 6px;
  width: fit-content;
}

#velzo {
  width:30%;
}

#mcon{
  /* border: 5px solid black; */
  margin: 20px;
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
}

#alo{
  color: white;
  width: fit-content;
}

#bigdivy{
  display: flex;
  justify-content: space-evenly;
}

.nama{
  margin-bottom: 10px;
  width:fit-content;
  height:fit-content;
  background-color: #FF8D00;
  padding: 10px;
  border-radius: 6px;
  display:flex;
  align-items: center;
  
}

.conol{
  font-weight: bolder;
  font-size: 115%;
}
